extends ../layouts/master.pug

append head
  link(href='stylesheets/blank.css' rel='stylesheet')

block content
  include ../components/table-of-contents.pug
  include ../components/divider.pug
  include ../components/content-with-image-full-width.pug
  include ../components/divider.pug
  include ../components/content-with-image-half-width.pug
  include ../components/divider.pug
  include ../components/content-with-image-third-width.pug
  include ../components/section-title.pug
  include ../components/third-images.pug
  include ../components/divider.pug
  include ../components/fourth-images.pug
