@import 'clients';
@import 'reset';

/* Import settings */
@import 'settings/colours';

/* Import components */
@import 'components/masthead';
@import 'components/dividers';
@import 'components/section-header';
@import 'components/table-of-contents';
@import 'components/content-blocks';
@import 'components/footer';

// body settings
body {
	background: $grey-5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin: 0 18px;
  color: $grey-1;
}

// links
a {
	color: $link;
	&:hover {
		color: $link--hover;
	}
}

#templateContent {
  background: $white;
  > tbody {
    > tr {
      > td {
        padding: 18px 12px 0;
      }
    }
  }
}

#bodyTable {
  max-width: 600px;
}
