.button {
  cursor: pointer;
  border-radius: 4px;
  background-color: $button--primary;

  td {
    text-align: center;
    padding: $base-spacing-unit $base-spacing-unit-tiny;
  }

  a, a:visited, a:hover, a:focus {
    color: $white !important;
    text-decoration: none;
  }
}
