$white: #fff;

// Greys
$grey-1: #4d4d4d;
$grey-2: #717171;
$grey-3: #cbc9cd;
$grey-4: #ebe9e8;
$grey-5: #f8f7f7;

// Parliament colours
$commons--dark: #004229;
$commons: #006e46;
$lords--dark: #730021;
$lords: #b50938;

// Links
$link: #2B57AB;
$link--hover: #7592c8;
