.content {
  font-size: 12px;

  img {
    max-width: 100%;
    display: block;
  }

  &__halfwidth {
    img {
      max-width: 50%;
      margin: 0 auto;
    }
  }

  &__quarterwidth {
    img {
      max-width: 33.3%;
      margin: 0 auto;
    }
  }
}

