// Actual footer
#templateFooter {
  background: $grey-4;
  border-top: 1px solid $grey-3;
  a {
    display: inline-block;
    vertical-align: middle;
    img {
      display: block;
    }
    .socialIcon {
      max-width: 16px;
      margin-left: 18px;
    }
  }
  td {
    padding: 12px;
  }
  td:last-child {
    text-align: right;
  }
}

// Legal/unsubscribe section
#templateLegal {
  font-size: 12px;
  line-height: 20px;
  color: $grey-2;
  td {
    padding: 18px 0 0;
  }
  a {
    color: $grey-2;
  }
}
