tr
  td(align='center' valign='top')
    table(border='0' cellpadding='0' cellspacing='0' class='content table-of-contents' width='100%')
      tr
        td
          h3 In this issue:
          ul
            li
              a(href='#') Link to first story
            li
              a(href='#') This link would take you to the second story
            li
              a(href='#') This one to the third story
            li
              a(href='#') And this to the final story
