tr(mc:repeatable='content' mc:variant='divider')
  td(align='center' valign='top' class='row')
    table(border='0' cellpadding='0' cellspacing='0' class='divider' width='100%')
      tr
        td
          hr
