tr(mc:repeatable='content' mc:variant='section title') 
  td(align='center' valign='top' class='row')
    table(border='0' cellpadding='0' cellspacing='0' width='100%')
      tr
        td(align='center' valign='top' class='row')
          table(border='0' cellpadding='0' cellspacing='0' class='divider' width='100%')
            tr
              td
                hr
      tr
        td(align='center' valign='top')
          table(border='0' cellpadding='0' cellspacing='0' class='section-title' width='100%')
            tr
              td(mc:edit='section_title__title' mc:label='Title')
                h3 Section name
      tr
        td(align='center' valign='top' class='row')
          table(border='0' cellpadding='0' cellspacing='0' class='divider' width='100%')
            tr
              td
                hr
