tr(mc:repeatable='content' mc:variant='table of contents')
  td(align='center' valign='top' class='row')
    table(border='0' cellpadding='10' cellspacing='0' class='table-of-contents columns' width='100%')
      tr
        td(align='left' valign='top' width='33%' class='columns__third' mc:edit='table_of_contents__heading' mc:label='Heading')
          h3 In this issue:
        td(align='left' valign='top' width='66%' class='columns__twothirds' mc:edit='table_of_contents__contents' mc:label='Contents')
          ul
            li
              a(href='#') Link to first story
            li
              a(href='#') This link would take you to the second story
            li
              a(href='#') This one to the third story
            li
              a(href='#') And this to the final story
