tr(mc:repeatable='content' mc:variant='3-column images and text')
  td(align='center' valign='top' class='row')
    table(border='0' cellpadding='0' cellspacing='0' width='100%' class='columns')
      tr
        td(align='center' valign='top' width='33%' class='columns__third')
          table(align='left' border='0' cellpadding='0' cellspacing='0' width='100%')
            tr
              td(valign='top' align='center')
                img(src='http://placehold.it/173x173?text=173px+Wide' width='173' mc:edit='third_images__image1' mc:label='Image 1')
            tr
              td(valign='top' align='center' mc:edit='third_images__summary1' mc:label='Summary 1')
                p Supporting text
        td(align='center' valign='top' width='33%' class='columns__third')
          table(align='left' border='0' cellpadding='0' cellspacing='0' width='100%')
            tr
              td(valign='top' align='center')
                img(src='http://placehold.it/173x173?text=173px+Wide' width='173' mc:edit='third_images__image2' mc:label='Image 2')
            tr
              td(valign='top' align='center' mc:edit='third_images__summary2' mc:label='Summary 2')
                p Supporting text
        td(align='center' valign='top' width='33%' class='columns__third')
          table(align='left' border='0' cellpadding='0' cellspacing='0' width='100%')
            tr
              td(valign='top' align='center')
                img(src='http://placehold.it/173x173?text=173px+Wide' width='173' mc:edit='third_images__image3' mc:label='Image 3')
            tr
              td(valign='top' align='center' mc:edit='third_images__summary3' mc:label='Summary 3')
                p Supporting text
