doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width')
    link(href='_css/style.css' rel='stylesheet')

  body(leftmargin='0' marginheight='0' marginwidth='0' offset='0' topmargin='0')
    center
      table(align='center' border='0' cellpadding='0' cellspacing='0' height='100%' id='bodyTable' width='100%')
        tr
          td(align='center' id='bodyCell' valign='top')
            table(border='0' cellpadding='0' cellspacing='0' id='templateContainer')
              tr
                td(align='center' valign='top')
                  table(border='0' cellpadding='0' cellspacing='0' id='templatePreheader' width='100%')
                    tr
                      td Problems viewing this email?
                        = ' '
                        a(href='#' target='_blank') View it in your web browser
              tr
                td(align='center' valign='top')
                  table(border='0' cellpadding='0' cellspacing='0' id='templateMasthead' width='100%')
                    tr
                      td(class='header' valign='top') Generic Header
              tr
                td(align='center' valign='top')
                  table(border='0' cellpadding='0' cellspacing='0' id='templateContent' width='100%')
                    block content
              tr
                td(align='center' valign='top')
                  table(border='0' cellpadding='0' cellspacing='0' id='templateFooter' width='100%')
                    tr
                      td(valign='center')
                        a(target='_blank' href='https://www.parliament.uk/')
                          img(src='images/portcullis@2x.png' width='32px')
                      td(valign='center')
                        a(target='_blank' href='https://twitter.com/ukparliament')
                          img(src='images/twitter@2x.png' width='32px' class='socialIcon')
                        a(target='_blank' href='https://facebook.com/ukparliament')
                          img(src='images/facebook@2x.png' width='32px' class='socialIcon')
                        a(target='_blank' href='https://instagram.com/ukparliament')
                          img(src='images/instagram@2x.png' width='32px' class='socialIcon')
              tr
                td(align='center' valign='top')
                  table(border='0' cellpadding='0' cellspacing='0' id='templateLegal' width='100%')
                    tr
                      td(valign='center')
                        a(href='#') Unsubscribe
                        = ' | '
                        a(href='#') Manage your email preferences
                        br
                        p You are receiving this email because you are subscribed to updates from
                          = ' '
                          a(href='#') UK Parliament
                          = '.'
                        p Our address is: Houses of Parliament, Westminster, London, SW1A 0AA
